<footer>
  <div class="footer-left">
    <div class="phone">
      <fa-icon [icon]="faPhone" class="icon"></fa-icon> +39 345 9874652
    </div>
    <div class="mail">
      <fa-icon [icon]="faEnvelope" class="icon"></fa-icon> basicstore@gmail.com
    </div>
  </div>

  <div class="footer-right">

    <span>
      Our Socials:
    </span>

    <a href="#">
      <img src="../../../assets/images/79809_gray_512x512-526592060.png" alt="linkedin logo gray">
    </a>

    <a href="#">
      <img src="../../../assets/images/Facebook-Icon-Gray-Circle-2697805267.png" alt="facebook logo gray">
    </a>

    <a href="#">
      <img src="../../../assets/images/7-74347_instagram-logo-grey-png-instagram-logo-png-grey.png" alt="instagram logo gray">
    </a>
  </div>
</footer>
