.header {
  height: 65px;
  background-color: #008888;
  padding: 0 30px;
  display: flex;

  &-left {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    .logo {
      max-height: 70%;
      margin-right: 10px;
    }
    .title {
      font-size: 30px;
      color: #fff;
      span {
        color: #000;
      }
    }
  }
}
