.header {
  height: 65px;
  background-color: #008888;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  &-left,
  &-right {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-left {
    padding: 0 10px;
    .logo {
      max-height: 70%;
      margin-right: 10px;
    }
    .title {
      font-size: 30px;
      color: #fff;
      span {
        color: #000;
      }
    }
  }
  &-right {
    &-icon {
      color: #f2f8f8;
      font-size: 24px;
      margin-left: 10px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-icon:hover {
      background-color: #1dbebe;
    }
  }
}
