main {
  display: flex;
  height: calc(100vh - 105px);
  overflow: hidden;
  position: relative;
}

//aside parent compoinent style
.app-product-list {
  max-width: 25%;
  overflow-y: auto;
  flex-shrink: 0;
}

main {
  background-image: url('../assets/images/Basic+Store+Logo-788201926.png');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 70%;
}





