.product {
  width: 350px;
  margin-bottom: 60px;
  list-style: none;
  &-image {
    width: 100%;
    height: 350px;
    object-fit: contain;
  }
  &-dscription {
    height: 90px;
    overflow-y: auto;
  }
  &-price {
    font-size: 18px;
    font-weight: 600;
  }
}
