<form class="form" [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
  <div class="form-field title">
    <label class="input-label" for="title"> Title: </label>
    <input
      class="input"
      id="title"
      name="title"
      type="text"
      formControlName="title"
    />

    <div
      *ngIf="
        newProductForm.get('title')?.touched &&
        newProductForm.get('title')?.invalid
      "
    >
      <div
        class="error-message"
        *ngIf="newProductForm.get('title')?.hasError('required')"
      >
        A title is required
      </div>
      <div
        class="error-message"
        *ngIf="newProductForm.get('title')?.hasError('minlength')"
      >
        The title must be at least 5 characters long
      </div>
      <div
        class="error-message"
        *ngIf="newProductForm.get('title')?.hasError('maxlength')"
      >
        The title can not be longer than 150 characters
      </div>
    </div>
  </div>

  <div class="form-field price">
    <label class="input-label" for="price"> Price: </label>
    <input
      class="input"
      id="price"
      name="price"
      type="number"
      formControlName="price"
    />

    <div
      *ngIf="
        newProductForm.get('price')?.touched &&
        newProductForm.get('price')?.invalid
      "
    >
      <div
        class="error-message"
        *ngIf="newProductForm.get('price')?.hasError('required')"
      >
        The price is required, only numeric values are allowed
      </div>
      <div
        class="error-message"
        *ngIf="newProductForm.get('price')?.hasError('min')"
      >
        The price can not be less than 0
      </div>
    </div>
  </div>

  <div class="form-field description">
    <label class="input-label" for="description"> Description: </label>
    <input
      class="input"
      id="description"
      type="text"
      name="description"
      formControlName="description"
    />

    <div
      *ngIf="
        newProductForm.get('description')?.touched &&
        newProductForm.get('description')?.invalid
      "
    >
      <div
        class="error-message"
        *ngIf="newProductForm.get('description')?.hasError('required')"
      >
        A description is required
      </div>
      <div
        class="error-message"
        *ngIf="newProductForm.get('description')?.hasError('minlength')"
      >
        The description must be at least 30 characters long
      </div>
      <div
        class="error-message"
        *ngIf="newProductForm.get('description')?.hasError('maxlength')"
      >
        The description can not be longer than 500 characters
      </div>
    </div>
  </div>

  <div class="form-field category">
    <label class="input-label" for="category"> Category: </label>
    <select
      class="input"
      id="category"
      type="text"
      name="category"
      formControlName="category"
    >
      <option disabled>Chose a category</option>
      <option *ngFor="let category of categories" value="{{ category }}">
        {{ category }}
      </option>
    </select>

    <div
      *ngIf="
        newProductForm.get('category')?.invalid && newProductForm.get('category')?.touched
      "
    >
      <div
        class="error-message"
        *ngIf="newProductForm.get('category')?.hasError('required')"
      >
        You must chose a category
      </div>
    </div>
  </div>

    <input
      class="submit-btn"
      type="submit"
      [disabled]="newProductForm.invalid"
      value="Create Product"
    />
</form>
