// reset margin/paddind and scrollbar
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // scrollbar firefox
  scrollbar-width: thin;
  scrollbar-color: #016d6d50 #335a5a13;
}
// scrollbar chromiums/safari
*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: #335a5a13;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #016d6d50;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

//reset anchors
a {
  text-decoration: none;
  color: initial;
}
a:hover {
  color: initial;
}

// google font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}


